body{
   font-family: serif, sans-serif, 'Times New Roman'; 
   font-size: medium;
   font-weight: normal;
   background-color: aquamarine;
   color:crimson;
   text-align: justify;
}

h1{
    font-weight: 700px;
    color: blueviolet;
    box
}

h3{
    font: weight 500px; 
    color: red;
}

.food{
    height:300px;
    width:400px;
}

.pulao{
    width:300px;
}

.foodpic{
height:400px;
width: max-content;
border-color: black;
}

.link{
    font-weight: 600;
    color: chocolate;
}

